*{
    box-sizing: border-box;
}

body{
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
    background-color: black;
    
    
}

.wrapper{
    display: grid;
    grid-template-columns: 60px 1fr;
    background-color: black;
    height: 100%;
}

.main{
    width: calc(100vw - 60px);
    background-color: black;
}



@media screen and (max-width: 425px) {
    .wrapper{
        grid-template-columns: 50px 1fr;

    }

    

}

@media screen and (max-width: 375px) {
    .wrapper {
            grid-template-columns: 50px 1fr;
    }

}