
body{
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
    background-color: black;
    height: 100%;
    width: 100vw;
    
    
    
}

.wrapper{
    display: grid;
    grid-template-columns: 60px 1fr;
    background-color: black;
    height: 100%;
}

.main{
    background-color: black;
}



@media screen and (max-width: 500px) {
    .wrapper{
        grid-template-columns: 50px 1fr;
    }

}

@media screen and (max-width: 500px) {


}