@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');



/* .navigat{
    width: 100vw;
} */
.body{
    overflow-x: hidden;

}
.sidebar{
    width: 60px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    background: #080808;
    color: white;
    font-family: "Quicksand";
}

.sidebar .lg{
    cursor: pointer;
    user-select: none;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
    height: 100px;
    /* padding: 5px; */
    flex-shrink: 0;
    writing-mode: vertical-lr;
    font-size: 1.4rem;
    font-weight: 00;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.059);
    color: #0aff9d;
    transition: all .1s;
    width: 70%;
    height:100px;
}

.sidebar ul{
    list-style: none;
    width: 100%;
}

.sidebar a{
    
    cursor: pointer;
    user-select: none;
    height: 100px;
    /* padding: 5px; */
    flex-shrink: 0;
    writing-mode: vertical-lr;
    font-size: 1.1rem;
    font-weight: 200;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .5;
    border-right: 1px solid transparent;
    transition: all .1s;
    width: 100%;
    
}

.sidebar a:hover{
    background-color: #ffffff11;
    opacity: .8;
    font-weight: 300;
    border-right: 2px solid #00ff99;
}

.sidebar a:active{
    background-color: #ffffff28;
    border-right: 2px solid #0aff9d;
}

@media screen and (max-width: 400px){

    .sidebar{
        width: 50px;
    }
}

@media screen and (max-width: 300px) {

    .sidebar {
        width: 40px;
    }
}