.work {
    width: 100%;
    min-height: 100vh;
    background: #080808;
    background-size: cover;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}